@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --main-light-gray-bg: #eaecef;
  --title-light-gray-color: #9e9d9d;
  --title-dark-gray-color: #545454;
  --gold-highlight-color: #fca311;
  --dark-mode-bg: linear-gradient(to top left, #000000, #545454);
  --light-mode-bg: linear-gradient(to top left, #ffffff, #cfd2d6) !important;
  --background: var(--light-mode-bg);
  --foreground: var(--title-dark-gray-color);
}

/*=======================================
==> General Dark and Light Mode classes
=========================================*/

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  -webkit-touch-callout: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 99.9%;
  height: 100vh;
  will-change: transform, opacity;
}

/*------------------------
=> Contact Page
--------------------------*/
#contactme {
  margin: 3rem;
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
}
.contact-title {
  font-size: 7rem;
  text-transform: uppercase;
  margin: 0 !important;
  letter-spacing: 0.2rem;
  color: var(--title-dark-gray-color);
}
.contact-title::after {
  content: "";
  max-width: 30vw;
  height: 1px !important;
  background: #dd9116b6;
  border-radius: 1rem;
  display: block;
  padding: 0.7rem;
  z-index: -1;
  margin-top: -2.9rem;
  margin-left: 0rem;
}

.wrapper-contact {
  display: grid;
  grid-template-columns: 1fr !important;
  max-width: 70%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contact {
  background: #ffffff;
  width: 25vw;
  padding: 1rem;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  background-color: transparent;
}
.contact form input,
.contact form textarea {
  width: 70%;
  padding: 1rem;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
}

#btn-form input {
  border: none;
  width: 30%;
  height: auto;
  padding: 1rem;
  background: var(--title-light-gray-color);
  color: var(--main-light-gray-bg);
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: ease-in-out 0.5s;
}

#btn-form input:hover {
  cursor: pointer;
  color: var(--dark-mode-bg) !important;
}

.alert {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background: var(--title-light-gray-color);
  color: var(--main-light-gray-bg);
  border-radius: 0 3rem 0 3rem;
}

.required {
  color: #f71212d5;
  font-size: 6px;
  margin-left: 0.3rem;
}

#divID {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-logo-p:hover {
  cursor: -moz-grab;
  cursor: grab;
}

.side-drawer,
.backdrop,
.toggle-button,
.side-draw-button {
  display: none;
}

/*
=======================================
==>        Animations
=========================================
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/************************
=       Fade Right
*************************/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/************************
=       Fade Left
*************************/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/*
=======================================
==>        END-Animations
=======================================
*/